In [1]:
# Importing libraries for data handling, preprocessing, model building, and evaluation
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [2]:
#load dataset
df=pd.read_csv("Healthcare dataset.csv")

In [3]:
df.head()

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
0,Bobby JacksOn,30,Male,B-,Cancer,31-01-2024,Matthew Smith,Sons and Miller,Blue Cross,18856.28131,328,Urgent,02-02-2024,Paracetamol,Normal
1,LesLie TErRy,62,Male,A+,Obesity,20-08-2019,Samantha Davies,Kim Inc,Medicare,33643.32729,265,Emergency,26-08-2019,Ibuprofen,Inconclusive
2,DaNnY sMitH,76,Female,A-,Obesity,22-09-2022,Tiffany Mitchell,Cook PLC,Aetna,27955.09608,205,Emergency,07-10-2022,Aspirin,Normal
3,andrEw waTtS,28,Female,O+,Diabetes,18-11-2020,Kevin Wells,"Hernandez Rogers and Vang,",Medicare,37909.78241,450,Elective,18-12-2020,Ibuprofen,Abnormal
4,adrIENNE bEll,43,Female,AB+,Cancer,19-09-2022,Kathleen Hanna,White-White,Aetna,14238.31781,458,Urgent,09-10-2022,Penicillin,Abnormal

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55500 entries, 0 to 55499
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Name                55500 non-null  object
 1   Age                 55500 non-null  int64
 2   Gender              55500 non-null  object
 3   Blood Type          55500 non-null  object
 4   Medical Condition   55500 non-null  object
 5   Date of Admission   55500 non-null  object
 6   Doctor              55500 non-null  object
 7   Hospital            55500 non-null  object
 8   Insurance Provider  55500 non-null  object
 9   Billing Amount      55500 non-null  float64
 10  Room Number         55500 non-null  int64
 11  Admission Type      55500 non-null  object
 12  Discharge Date      55500 non-null  object
 13  Medication          55500 non-null  object
 14  Test Results        55500 non-null  object
dtypes: float64(1), int64(2), object(12)
memory usage: 6.4+ MB

In [5]:
df.describe()

                Age  Billing Amount   Room Number
count  55500.000000    55500.000000  55500.000000
mean      51.539459    25539.316097    301.134829
std       19.602454    14211.454431    115.243069
min       13.000000    -2008.492140    101.000000
25%       35.000000    13241.224655    202.000000
50%       52.000000    25538.069380    302.000000
75%       68.000000    37820.508432    401.000000
max       89.000000    52764.276740    500.000000

In [6]:
df.isna().sum()

Name                  0
Age                   0
Gender                0
Blood Type            0
Medical Condition     0
Date of Admission     0
Doctor                0
Hospital              0
Insurance Provider    0
Billing Amount        0
Room Number           0
Admission Type        0
Discharge Date        0
Medication            0
Test Results          0
dtype: int64

In [7]:
# Encoding categorical columns and splitting the dataset into features (X) and target (y)
for col in df.select_dtypes(include='object').columns:
    le = LabelEncoder()
    df[col] = le.fit_transform(df[col])
x=df.drop(columns="Test Results",axis=1)
y=df["Test Results"]

In [8]:
x

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication
0,3068,30,1,5,2,1796,26612,29933,1,18856.281310,328,2,70,3
1,15211,62,1,0,5,1175,33648,16012,3,33643.327290,265,1,1559,1
2,6476,76,0,1,5,1303,37828,5473,0,27955.096080,205,1,414,0
3,26935,28,0,6,3,1071,22511,12317,3,37909.782410,450,0,1092,1
4,26241,43,0,2,2,1123,21259,33598,0,14238.317810,458,2,535,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55495,32416,42,0,6,1,936,20003,15553,1,2650.714952,417,0,894,4
55496,13686,61,0,3,5,1320,37149,31722,2,31457.797310,316,0,5,0
55497,8742,38,0,4,4,751,18550,37408,4,27620.764720,347,2,584,1
55498,9759,43,1,7,0,1460,22665,14329,3,32451.092360,321,0,1830,1
55499,34215,53,0,6,0,79,10782,12207,0,4010.134172,448,2,1722,1

In [9]:
y

0        2
1        1
2        2
3        0
4        0
        ..
55495    0
55496    2
55497    0
55498    0
55499    0
Name: Test Results, Length: 55500, dtype: int32

In [10]:
# Splitting the dataset into training and testing sets (80% train, 20% test)
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [11]:
x_train

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication
45174,5317,22,0,6,0,2,23679,18223,0,42298.681570,336,0,1281,1
10214,48056,22,1,5,3,1181,10432,36340,1,2437.435883,486,1,716,3
43199,20529,81,0,0,0,1388,31530,33490,4,5600.450992,392,1,987,3
31626,43553,80,0,4,1,1329,13899,3100,1,39533.300770,225,0,380,3
9273,36296,26,0,2,5,193,22301,2346,4,37691.176760,279,0,1828,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44732,46996,27,0,5,2,1383,3543,14740,2,28005.689380,358,0,982,3
54343,34543,32,1,3,4,1309,512,35059,4,2381.539677,213,1,1809,4
38158,46363,24,0,5,5,1767,36643,14186,4,10502.693980,420,1,1015,2
860,39067,76,1,0,1,1300,20805,32938,0,13014.330000,108,1,1686,0
15795,46552,33,0,4,5,1641,33882,4878,0,31483.462070,303,2,1245,2

In [13]:
y_train

45174    0
10214    2
43199    0
31626    2
9273     1
        ..
44732    1
54343    2
38158    1
860      0
15795    2
Name: Test Results, Length: 44400, dtype: int32

In [19]:
x_test

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication
31641,41603,57,1,6,3,884,16501,31444,3,3616.898450,339,0,111,0
9246,42450,51,0,0,3,409,17842,33696,0,36970.075480,372,1,841,4
1583,20601,20,1,0,1,520,34229,3130,1,44393.001350,148,0,471,4
36506,11814,74,0,4,5,821,6595,34248,0,27554.923710,135,1,1260,1
11259,22938,56,1,3,5,8,29464,34391,0,27466.318570,284,1,374,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32183,3513,34,1,7,0,1818,40289,27002,4,8351.418347,353,0,1270,3
17967,5413,46,1,2,1,367,10050,31136,4,5575.897209,498,0,134,3
46192,6339,74,0,4,5,835,36710,2917,4,38654.187030,437,1,0,2
43968,14867,55,0,3,2,1650,25996,4259,0,5278.640155,184,0,583,1
47331,7820,62,0,3,1,956,1670,6976,1,9809.722624,457,2,1519,4

In [20]:
y_test

31641    1
9246     0
1583     1
36506    0
11259    1
        ..
32183    0
17967    2
46192    2
43968    0
47331    2
Name: Test Results, Length: 11100, dtype: int32

In [27]:
scaler=StandardScaler()
x_train=scaler.fit_transform(x_train)
x_test=scaler.transform(x_test)

In [31]:
k=6
knn=KNeighborsClassifier(n_neighbors=k)
knn.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=6)

In [33]:
y_pred=knn.predict(x_test)
print("prediction\n",y_pred)

prediction
 [0 0 0 ... 2 0 0]

In [34]:
accuracy=accuracy_score(y_test,y_pred)
accuracy

0.3714414414414414

In [35]:
confusion=confusion_matrix(y_test,y_pred)
confusion

array([[1774, 1061,  919],
       [1498, 1245,  874],
       [1555, 1070, 1104]], dtype=int64)

In [36]:
classification=classification_report(y_test,y_pred)
print("classification report :\n",classification)

classification report :
               precision    recall  f1-score   support

           0       0.37      0.47      0.41      3754
           1       0.37      0.34      0.36      3617
           2       0.38      0.30      0.33      3729

    accuracy                           0.37     11100
   macro avg       0.37      0.37      0.37     11100
weighted avg       0.37      0.37      0.37     11100